/* Estilo Básico */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

header {
    text-align: center;
    margin-top: 20px;
}

header .logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    font-size: 24px;
    color: #004085;
}

main {
    max-width: 400px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

label {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

input[type="text"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#passwordInstructions {
    background-color: #e7f1ff;
    color: #004085;
    padding: 10px;
    border: 1px solid #b8daff;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 14px;
}

#passwordInstructions ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
}

#passwordInstructions li {
    margin: 5px 0;
    padding-left: 20px;
    position: relative;
}

#passwordInstructions .valid {
    color: #28a745; /* Verde para requisito atendido */
}

#passwordInstructions .invalid {
    color: #ff4d4d; /* Vermelho para requisito não atendido */
}

#passwordInstructions .valid::before,
#passwordInstructions .invalid::before {
    content: "•";
    position: absolute;
    left: 0;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button[type="button"] {
    background-color: #28a745;
    color: #fff;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover {
    background-color: #218838;
}

button[type="reset"] {
    background-color: #ff4d4d;
    color: #fff;
    transition: background-color 0.3s ease;
}

button[type="reset"]:hover {
    background-color: #ff3333;
}

#message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
